{% extends "index.html" %}
{% block title %}Upload Death Certificate{% endblock %}
{% block main_content %}
<div class="container top-margin">
 <div class="row">
   <div class="col-md-12">
    <h1>Death Certificate</h1>
    Upload death certificate by dragging an image file below.
     <form action="/certificate-upload"
      class="dropzone"
      id="dropzone"></form>
   </div>
 </div>
</div>
{% endblock %}

{% block jslib %}
<script src="/scripts/dropzone.js"></script>
<script>
  Dropzone.options.dropzone = {
    init: function() {
      this.on("complete", function(file) {
       window.location = "/certificate-enter";});
    }
  };
</script>
{% endblock %}
