{% extends "index.html" %}
{% block title %}Financial Services{% endblock %}
{% block main_content %}

<div class="picture jumbotron finance">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ message }}</h1>
        <p>Close your insurance and bank accounts below. Clicking the "close account" button will automatically send a Lob.</p>
      </div>
    </div>
  </div>
</div>
<div class="flower" data-value="2"></div>
  <div class="container">
    {% if sent %}
    <div class="bs-example">
        <div class="alert alert-warning fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       Snail Mail sent to {{to}} via Lob! For demo purposes, your Job Id is {{job_id}}
    </div></div>
    {% endif %}

    <h1>Bank Accounts</h1>
    <form id="form_banks" action="/storeBank" method="get" name="bank" class="form">
       <div class="form-group">
          <label class="control-label">Who is your major bank? Epilogue will automatically send a letter
          to the bank, powered by Lob.</label>
          <input name="bank" class="form-control typeahead" type="text" placeholder="Banks">
       </div>
        <button type="submit" class="btn btn-primary">Close Bank Accounts</button>
    </form>
    <br>
    <h1>Insurance Companies</h1>
    <form id="form_insurance" action="/storeBank" method="get" class="form">
        <div class="form-group">
          <label class="control-label">What are your insurance companies?</label>
          <input class="typeahead form-control" type="text" placeholder="Insurance Company">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Close Insurance Accounts</button>
        </div>
    </form>

    <br>
    <hr>
      <h3> Sample Lob Mail</h3>
    <div class="row lobmail">
      <div class="col-sm-6">
        <a data-toggle="lightbox"><img src="/stylesheets/img/jessie_deathcert.png" class="img-responsive"></a>
      </div>
      <div class="col-sm-6">
        <a data-toggle="lightbox"><img src="/stylesheets/img/Letter.png" class="img-responsive"></a>
      </div>
    </div>

</div>
{% endblock %}
{% block jslib %}
<script>
  pageNum = {{ page_num }};
</script>
<script src="/scripts/flow.js"></script>
<script>var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });

    cb(matches);
  };
};

var states = ['Bank of America', 'Chase'
];

$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(states)
});</script>
{% endblock %}