{% extends "index.html" %}
{% block title %}Welcome.{% endblock %}
{% block main_content %}
 <div class="container">
   <div class="row">
     <div class="col-md-12">
      <h1 style="text-align:center">Welcome to Epilogue</h1>
<h4 style="text-align:center"><em>closure and finality for your loved ones</em></h4>
<hr>         
<h4 style="text-align:left">The death of a loved one comes with many responsibilities and tasks. Thats why we create Epilogue: to automate the final affairs for the deceased and give you peace of mind.</h4>
     </div>
   </div>
   <div class="row">
      <div class="col-md-12">
          <h4>While you take care of your loved one, let us take care of you.</h4>
      </div>
   </div>
<hr>
   <div>
       <h4>To start, upload a photo of a valid US death certificate: </h4>
        <form action='/certificate'> <button type="submit"  class="btn btn-primary">Upload</button></form>
   </div>
 </div>

{% endblock %}
