{% extends "index.html" %}
{% block title %}Funeral Arrangements{% endblock %}
{% block main_content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ message }}</h1>
        <p>Browse from the options below to help pick a good ass funeral.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h2>Normal</h2>
    <div class="row form-group product-chooser">
    
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<div class="product-chooser-item selected">
	  <img src="http://renswijnmalen.nl/bootstrap/desktop_mobile.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
		  <span class="title">Mobile and Desktop</span>
		  <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
		  <input type="radio" name="product" value="mobile_desktop" checked="checked">
		  </div>
		<div class="clear"></div>
		</div>
	</div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<div class="product-chooser-item">
	  <img src="http://renswijnmalen.nl/bootstrap/desktop.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
		  <span class="title">Desktop</span>
		  <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
		  <input type="radio" name="product" value="desktop">
		  </div>
		<div class="clear"></div>
		</div>
	</div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<div class="product-chooser-item">
	  <img src="http://renswijnmalen.nl/bootstrap/mobile.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
		  <span class="title">Mobile</span>
		  <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
		  <input type="radio" name="product" value="mobile">
		  </div>
		<div class="clear"></div>
		</div>
	</div>
      
    </div>
</div>


{% endblock %}
{% block jslib %}
<script>$(function(){
$('div.product-chooser').not('.disabled').find('div.product-chooser-item').on('click', function(){
$(this).parent().parent().find('div.product-chooser-item').removeClass('selected');
$(this).addClass('selected');
$(this).find('input[type="radio"]').prop("checked", true);

});
});</script>
{% endblock %}
