<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="favicon.ico">

    <title>Epilogue | {% block title %}title{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.1.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.css" rel="stylesheet">
  </head>

  <body>

    <!-- MENY MENU -->
    <nav id="slide-menu">
      <ul>
        <a href="/"><li>Main</li></a>
        <a href="/certificate"><li>Certificate</li></a>
        <a href="/funeral"><li>Funeral</li></a>
        <a href="/social"><li>Social</li></a>
        <a href="/finance"><li>Finance</li></a>
        <a href="/memberships"><li>Membership</li></a>
      </ul>
    </nav>

    <!-- MENY CONTENTS -->
    <div id="content">
      <div class="menu-trigger"></div>

      {% block main_content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">

        <div class="container">
          <h1>{{ message }}</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Invite People</h2>
            <p>This is inviting people. there are social media at play. This is inviting people. there are social media at play.This is inviting people. there are social media at play. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
        </div>
        <hr>

        <footer>
          <p>© Epilogue 2014</p>
        </footer>
      </div> <!-- /container -->
      {% endblock %}

    </div> <!-- meny container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
    {% block jslib %}
    {% endblock %}

</body></html>