{% extends "index.html" %}
{% block title %}Funeral Arrangements{% endblock %}
{% block main_content %}

        <div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ message }}</h1>
        <p>Important information about survivor benefits.</p>
      </div>
    </div>
  </div>
</div>
 <div class="container top-margin">

         <h4> <a href src="http://www.ssa.gov/survivorplan/howtoapply.htm"> Social Security Benefits</a></h4>
         <h4> <a href src="http://www.va.gov/opa/persona/dependent_survivor.asp"> Veterans Survivor Benefits </a></h4>
 </div>
{% endblock %}