{% extends "index.html" %}
{% block title %}Funeral Arrangements{% endblock %}
{% block main_content %}

<div class="picture jumbotron memberships">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ message }}</h1>
        <p>Important information about survivor benefits.</p>
      </div>
    </div>
  </div>
</div>

 <div class="container top-margin" style="text-align: center">
     <div class="row">
         <div class="col-md-6">
<i class="fa fa-envelope fa-5x"></i>
         <h4> <a rel='external' href="http://www.ssa.gov/survivorplan/howtoapply.htm"> Social Security Benefits</a></h4></div>
         <div class="col-md-6">
              <i class="fa fa-check-square-o fa-5x"></i>
<h4> <a rel='external' href="http://www.va.gov/opa/persona/dependent_survivor.asp"> Veterans Survivor Benefits </a></h4></div>
 </div></div>
{% endblock %}