{% extends "index.html" %}
{% block title %}Cancel Social Media{% endblock %}
{% block main_content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ message }}</h1>
        <p>Click on an icon to begin canceling services.</p>
      </div>
    </div>
  </div>
</div>

<style>
  .jumbotron{
    background: url("stylesheets/img/image1.jpg");
    -webkit-background-size: cover;
    color: rgba(255,255,255,.9);
  }
</style>
<div class="top-margin container">
    {% if sent %}
    <div class="bs-example">
        <div class="alert alert-warning fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       Snail Mail sent to {{sent}} via Lob!
    </div></div>
    {% endif %}
    <h2>Online Forms</h2>
  <div class="row">
  <div class="col-md-2">
    <a class="{% if user.did_email %} deactivated {% endif %}" href="/emailoptout"><i class="fa fa-envelope fa-5x"></i></a>
    <p>Cancel Email Subscriptions</p>
  </div>
  <div class="col-md-2">
    <a class="{% if user.did_fb %} deactivated {% endif %}" href="/fb"><i class="fa fa-facebook fa-5x"></i></a>
    <p>Memorialize Facebook Account</p>
  </div>
  <div class="col-md-2">
    <a class="{% if user.did_linkedin %} deactivated {% endif %}" href="/linkedin"><i class="fa fa-linkedin fa-5x"></i></a>
    <p>Update LinkedIn Page</p>
  </div>
  <div class="col-md-2">
    <a class="{% if user.did_phone %} deactivated {% endif %}" href="/donotcontact"><i class="fa fa-phone fa-5x"></i></a>
    <p>Add to Do-Not-Contact list</p>
  </div>
  <div class="col-md-2">
    <a class="{% if user.did_postoffice %} deactivated {% endif %}" href="/addresschange"><i class="fa fa-home fa-5x"></i></a>
    <p>Update Postal Service</p>
  </div>
  </div>
    <h2>Snail Mail via Lob</h2>
  <div class="row">
   <div class="col-md-2">
    <a class="{% if user.did_google %} deactivated {% endif %}" href="/google" ><i class="fa fa-google fa-5x"></i></a>
    <p>Mail Google to cancel account (via Lob)</p>
  </div>
  <div class="col-md-2">
    <a class="{% if user.did_dropbox %} deactivated {% endif %}" href="/dropbox"><i class="fa fa-dropbox fa-5x"></i></a>
    <p>Mail DropBox to cancel account (via Lob)</p>
  </div>
  </div>

  <br><hr>

      <h3> Sample Lob Mail</h3>
    <div class="row lobmail">
      <div class="col-sm-6">
        <a data-toggle="lightbox"><img src="/stylesheets/img/jessie_deathcert.png" class="img-responsive"></a>
      </div>
      <div class="col-sm-6">
        <a data-toggle="lightbox"><img src="/stylesheets/img/Letter.png" class="img-responsive"></a>
      </div>
    </div>

</div>
{% endblock %}