{% extends "index.html" %}
{% block title %}Cancel Social Media{% endblock %}
{% block main_content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ message }}</h1>
        <p>Click on an icon to begin canceling services</p>
      </div>
    </div>
  </div>
</div>
<div class="top-margin container">
  <div class="row">
  <div class="col-md-2">
    <a href=""><i class="fa fa-envelope fa-5x"></i></a>
    <p>Cancel Email Subscriptions</p>
  </div>
  <div class="col-md-2">
    <a href=""><i class="fa fa-facebook fa-5x"></i></a>
    <p>Memorialize Facebook Account</p>
  </div>
  <div class="col-md-2">
    <a href=""><i class="fa fa-linkedin fa-5x"></i></a>
    <p>Update LinkedIn Page</p>
  </div>
  <div class="col-md-2">
    <a href=""><i class="fa fa-phone fa-5x"></i></a>
    <p>Add to Do-Not-Call list</p>
  </div>
  <div class="col-md-2">
    <a href=""><i class="fa fa-home fa-5x"></i></a>
    <p>Update Postal Service</p>
  </div>
</div>
{% endblock %}